<template>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h3>Tambah Data Aset</h3>
      </div>
      <div class="card-body">
        <form @submit.prevent="addAset">
          <div class="form-group">
            <label for="">Barang</label>
            <select name="barang" id="barang" v-model="barang" class="form-control" required>
              <option value="" disabeld selected>Choose</option>
              <option v-for="(item) in mBarang" v-bind:key="item.kode" :value="item.kode">{{ item.value }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Branch</label>
            <select name="branch" id="branch" v-model="branch" class="form-control" required>
              <option value="" disabeld selected>Choose</option>
              <option v-for="(item) in mBranch" v-bind:key="item.kode" :value="item.kode">{{ item.value }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Bulan dan Tahun</label>
            <input type="month" name="month_year" id="month_year" v-model="month_year" class="form-control" required>
          </div>
           <div class="form-group">
            <label for="">Antrian</label>
            <input type="number" min="0" name="antrian" id="antrian" v-model="antrian" class="form-control" required>
          </div>
          <div class="form-group">
            <button class="btn btn-primary float-right" type="submit">Simpan</button>
          </div>
        </form>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-bordered" id="table_data">
        <thead>
          <th>No</th>
          <th>Kode</th>
          <th>Barang</th>
          <th>Branch</th>
          <th>Bulan</th>
          <th>Tahun</th>
          <th>Antrian</th>
          <th>QRCode</th>
        </thead>
        <tbody>
          <tr v-for="(item,index) in this.datas" v-bind:key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.kBarang+item.kBranch+item.monthYear }}</td>
            <td>{{ this.mBarang[get_barang(item.kBarang)].value }}</td>
            <td>{{ this.mBranch[get_branch(item.kBranch)].value }}</td>
            <td>{{ convert_month_year(item.monthYear)[0] }}</td>
            <td>{{ this.months[Number(convert_month_year(item.monthYear)[1])] }}</td>
            <td>{{ item.antrian }}</td>
            <td><img :src="get_QR(index)" class="img-fluid"><br>Klik <a :href="get_QR(index)" target="_blank">disini</a> apabila QR tidak muncul</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data ()  {
    return {
      barang : null,
      branch : null,
      month_year : null,
      antrian : null,
      months : ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'],
      mBarang : [{ kode : 'SW', value : 'Switch' },{ kode : 'SV', value : 'Server' },{ kode : 'RT', value : 'Router' }],
      mBranch : [{ kode : 'JKT', value : 'Jakarta' },{ kode : 'BKS', value : 'Bekasi' },{ kode : 'BGR', value : 'Bogor' },{ kode : 'BDG', value : 'Bandung' }],
      datas : []
    }
  },
  created(){
    if (typeof(Storage) === "undefined") {
      alert('Sorry! No Web Storage support..')
    }else{
      if(localStorage.getItem("datas")){
        this.datas = JSON.parse(localStorage.getItem("datas"));
      }
    }
    console.log(this.datas);
  },
  methods : {
    addAset(){
      if(this.datas.length > 0 ){
        var last_id = Math.max.apply(Math, this.datas.map(function(o) { return o.id; }));
        this.datas.push({
          id : last_id+1,
          kBarang : this.barang,
          kBranch : this.branch,
          monthYear : this.month_year,
          antrian : this.antrian
        });
      }else{
        this.datas.push({
          id : '1',
          kBarang : this.barang,
          kBranch : this.branch,
          monthYear : this.month_year,
          antrian : this.antrian
        });
      }
      localStorage.setItem("datas",JSON.stringify(this.datas));
      this.barang = null;
      this.branch = null;
      this.month_year = null;
      this.antrian = null;
    },
    convert_month_year(val){
      return val.split('-');
    },
    get_barang(val){
      return this.mBarang.findIndex(x => x.kode === val);
    },
    get_branch(val){
      return this.mBranch.findIndex(x => x.kode === val);
    },
    get_QR(val){
      var data = this.datas[val];
      var rBarang = this.mBarang[this.get_barang(data.kBarang)].value;
      var rBranch = this.mBranch[this.get_branch(data.kBranch)].value;
      var rBulan = this.months[Number(this.convert_month_year(data.monthYear)[1])];
      var rTahun = this.convert_month_year(data.monthYear)[0];
      return `https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=${rBarang} area ${rBranch} pembelian bulan ${rBulan} tahun ${rTahun} ke ${data.antrian}&chld=L|1&choe=UTF-8`;
    }
  }
}
</script>
