<template>
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <div class="form-group">
                    <label for="">Nomor Rahasia</label>
                    <input type="number" name="rahasia" min="0" @keyup="check" v-model="rahasia" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Nomor Tebakan</label>
                    <input type="number" name="tebakan" min="0" @keyup="check" v-model="tebakan" class="form-control">
                </div>
                <div class="alert alert-info" role="alert">
                    {{ this.result }}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name : 'Optional',
    data () {
        return {
            rahasia : null,
            tebakan : null,
            result : null
        }
    },
    methods : {
        check(){  
            if((this.rahasia)&&(this.tebakan)){
                var alhamdulillah = 0;
                var subhanallah = 0;

                var arr_alhamdulillah = [];
                var arr_subhanallah = [];
                
                var val1 = this.rahasia+'';
                var val2 = this.tebakan+'';
                var arr1 = val1.split('');
                var arr2 = val2.split('');

                for (let i = 0; i < arr2.length; i++) {
                    // let index = arr1.indexOf(arr2[i]);
                    // let num = arr1.includes(arr2[i]);
                    // if((num) && (index == i)){
                    //     alhamdulillah += 1;
                    //     arr_alhamdulillah.push(arr2[i]);
                    // }else{
                    //     subhanallah +=1;
                    //     arr_subhanallah.push(arr2[i]);
                    // }
                    let cek = arr1[i];
                    if(cek){
                        if(cek == arr2[i]){
                            alhamdulillah += 1;
                            arr_alhamdulillah.push(arr2[i]);
                        }else{
                            subhanallah +=1;
                            arr_subhanallah.push(arr2[i]);
                        }
                    }else{
                        subhanallah +=1;
                        arr_subhanallah.push(arr2[i]);
                    }
                }
                this.result = `${alhamdulillah} Alhamdulillah ${subhanallah} Subhanallah ( angka ${arr_alhamdulillah.toString()} Alhamdulillah ${arr_subhanallah.toString()} adalah Subhanallah )`;
            }else{
                this.result = null;
            }
        }
    }
}
</script>
