<template>
  <nav class="navbar navbar-light bg-light shadow">
    <router-link class="navbar-brand" to="/">FULL STACK TEST</router-link>
    <router-link class="navbar-brand" to="/optional-challenge">OPTIONAL CHALLENGE BUT MATTER</router-link>
  </nav>
  <router-view/>
</template>
<script>
export default {
  name: 'App'
}
</script>